.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	cursor: pointer;
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 700;
	padding: 20px;
	border: 3px solid var(--accent-color);
	border-radius: var(--border-radius);
	background: transparent;
	color: var(--accent-color);
	min-width: 260px;
	width: 50%;

	transition: all 0.3s ease-in-out;
}

.btn:hover {
	background: var(--accent-color);
	color: var(--default-color);
	border-color: var(--accent-color);
}

.btn:active {
	background: var(--focus-color);
}

.btn-group {
	display: flex;
	gap: 15px;
}

.btn:disabled {
	cursor: not-allowed;
}
