.accent-color {
	color: var(--accent-color);
}

.default-color {
	color: var(--default-color);
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.col-50 {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.col-100 {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.fd-c {
	flex-direction: column;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-30 {
	margin-bottom: 30px;
}

.gap-15 {
	gap: 15px;
}

.gap-50 {
	gap: 50px;
}

.ai-c {
	align-items: center;
}

.ai-flexstart {
	align-items: flex-start;
}

.display-none {
	display: none !important;
}
